.mt-4 {
  margin-top: 4em;
}
body {
  background-color: #0071cf;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.credit-card {
  padding: 3em;
  background-color: #fff;
  font-color: #767676;
  border-radius: 0.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 37em;
  max-height: 24em;
  transform: translate(-50%, -50%);
}
label {
  text-transform: uppercase;
  display: block;
  color: #555;
}
button {
  text-transform: uppercase;
  width: 10em;
  bottom: 0em;
}
input,
input:focus {
  outline: none;
  border: 0;
  font-size: 1.1em;
}
.valid-til-input {
  text-align: right;
}
.left {
  float: left;
}
.right {
  float: right;
  text-align: right;
}
.visa-logo {
  width: 7em;
}
.spinner {
  height: 1.45em;
  width: 1.45em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-top: -3px;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-top: 2px solid white;
  border-radius: 50%;
}
.spinner-white {
  border-left-color: rgba(255, 255, 255, 0.4);
  border-right-color: rgba(255, 255, 255, 0.4);
  border-bottom-color: rgba(255, 255, 255, 0.4);
  border-top-color: rgba(255, 255, 255, 0.8);
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
